<!DOCTYPE html>
<html>
<head>
    <title>{% trans %}Exploración de Articulaciones: TBS{% endtrans %}</title>
</head>
<body>
    <h1>{% trans %}Exploración de Articulaciones: TBS{% endtrans %}</h1>
    <form method="POST">
        <label for="lado">{% trans %}Lado:{% endtrans %}</label>
        <select name="lado" id="lado">
            <option value="Izquierda">{% trans %}Izquierda{% endtrans %}</option>
            <option value="Derecha">{% trans %}Derecha{% endtrans %}</option>
        </select><br>

        <label for="dolor">{% trans %}Dolor:{% endtrans %}</label>
        <select name="dolor" id="dolor">
            <option value="Нет">{% trans %}No{% endtrans %}</option>
            <option value="Незначительная">{% trans %}Moderado{% endtrans %}</option>
            <option value="Сильная">{% trans %}Severo{% endtrans %}</option>
        </select><br>

        <label for="rotacion">{% trans %}Rotación del fémur:{% endtrans %}</label>
        <select name="rotacion" id="rotacion">
            <option value="Libre">{% trans %}Libre{% endtrans %}</option>
            <option value="Restringida">{% trans %}Restringida{% endtrans %}</option>
            <option value="Bole">{% trans %}Dolor al mover{% endtrans %}</option>
        </select><br>

        <label for="krepitacion">{% trans %}Crecimiento (crujido):{% endtrans %}</label>
        <select name="krepitacion" id="krepitacion">
            <option value="Нет">{% trans %}No{% endtrans %}</option>
            <option value="Присутствует">{% trans %}Presente{% endtrans %}</option>
        </select><br>

        <label for="ugol_norberg">{% trans %}Ángulo de Norberg:{% endtrans %}</label>
        <select name="ugol_norberg" id="ugol_norberg">
            <option value=">105°">{% trans %}Normal{% endtrans %}</option>
            <option value="90-105°">{% trans %}Límite{% endtrans %}</option>
            <option value="<90°">{% trans %}Patológico{% endtrans %}</option>
        </select><br>

        <button type="submit">{% trans %}Siguiente{% endtrans %}</button>
    </form>
</body>
</html>
